:root {
  background-color: rgb(255, 153, 0);
}
.locationsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  color: aliceblue;
}
.SlocationContainer {
  color: aquamarine;
  background-color: azure;
}

.locationContainer > p {
  width: 90%;
  color: black;
}

.locationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
  border: 1px solid grey;
  box-shadow: 5px 5px 5px grey;
  margin: 20px;
}

.Scontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  align-items: center;
  padding: 20px;
  font-size: small;
}
.locationInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40vw;
  text-align: center;
}
.locationInformation > img {
  height: 50vh;
}
/* */
.saved {
  border-radius: 60px;
  color: grey;
  background-color: black;
}

.navbar_Ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.navbar_link {
  text-decoration: none;
  font-size: medium;
  border-radius: 60px;
  color: white;
}
Li::first-letter {
  color: grey;
}
/* */
.search-field {
  border-radius: 0px 0px 0px 0px;
  border-right: black solid 2px;
  padding: 5px;
  outline: none;
  text-align: center;
}
.search-button {
  border-radius: 0px 0px 0px 0px;
  color: grey;
  padding: 4px;
  margin-left: 5px;
  background-color: yellow;
}
.hidden {
  display: none;
}
/* */
.reset {
  border-radius: 60px;
  color: grey;
  background-color: black;
}
.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.savedlocationsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}
/* */
