:root {
  background-color: rgb(255, 234, 0);
  background-color: rgb(73, 131, 255);
  color: rgb(255, 234, 0);
}
.locationsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  color: aliceblue;
}
.locationContainer > img {
  border-radius: 60px 60px 60px 60px;
}
.locationContainer > p {
  width: 90%;
}
.locationContainer > h6 {
  border: 1px solid yellow;
  border-radius: 60px;
  padding: 5px;
}
.locationtTitle {
  max-height: 10vh;
  background-color: yellow;
  padding: 5px;
  color: black;
}
.noAvailableData {
  margin-top: 3vh;
}
.locationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
  border: 1px solid rgb(255, 234, 0);
  box-shadow: 5px 5px 5px rgb(255, 234, 0);
  margin: 20px;
}
/* */
.Scontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  align-items: center;
  padding: 20px;
  font-size: small;
}
.locationInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40vw;
  text-align: center;
}
.locationInformation > img {
  height: 50vh;
}
/* */
.saved {
  border-radius: 60px;
  color: yellow;
  background-color: black;
}

.navbarUl {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.link {
  text-decoration: none;
  font-size: medium;
  border-radius: 60px;
  color: rgb(77, 2, 77);
}
Li::first-letter {
  color: yellow;
}
/* */
.search-field {
  border-radius: 0px 0px 0px 0px;
  border-right: black solid 2px;
  padding: 5px;
  outline: none;
  text-align: center;
}
.search-button {
  border-radius: 0px 0px 0px 0px;
  color: black;
  padding: 4px;
  margin-left: 5px;
  background-color: yellow;
}
.hidden {
  display: none;
}
/* */
.reset {
  border-radius: 60px;
  color: yellow;
  background-color: black;
}
.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.savedlocationsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}
/* */
.joinContainer,
.loginContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 15vh;
  align-items: center;
}
.joinForm > button,
.loginForm > button {
  margin-top: 2vh;
  background-color: yellow;
  border-radius: 45px 60px;
  font-weight: bolder;
}
.joinForm > input,
.loginForm > input {
  display: flex;
  flex-direction: column;
  margin-top: 1vh;
  width: 45vw;
  text-align: center;
  border: yellow 1px solid;
}
